.navbar
    &-wrap
         display: flex
         align-items: center
         min-height: 20px

.menu
     &-button
         display: flex
         align-items: center
         flex-direction: column
         justify-content: center
         background-color: transparent
         border: none
         border-right: 1px solid  rgba(#510bba, 0.1)
         border-left: 1px solid rgba(#510bba, 0.1)
         height: 80px
         width: 70px
         &__line
             display: block
             width: 20px
             height: 3px
             background-color: #89ade7
             margin: 2px 0



         


       
    


        

                     